body {
	font-family:Verdana, Arial, sans-serif;
	background-color: #928DAB;
}

.slide-image{
    width:30em;
}

.col-md-6{
    margin-left:15em;
    padding-bottom:2em;
}

.list-group-item{
    text-align:center;
    padding-bottom:2em;
    text-decoration: underline;
}

